* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #173259;
  padding: 0 5px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #250000;
  margin-left: 20px;
}

h2 {
  color: #464040;
}

div {
  background-color: #FFF9F9;
  padding: 10px;
}

.center {
  text-align: center;
  color: #5F5146;
}