body {
  background-color: #09479d;
  margin-left: 5px;
}

h1 {
  color: #250000;
  margin-left: 20px;
}

h2 {
  color: #464040;
}

div {
  background-color: #FFF9F9;
  padding: 10px;
}

.center{
  text-align: center;
  color: #5F5146
}