body {
  background-color: #666699;
  margin-left: 5px;
}

h1 {
  color: #250000;
  margin-left: 20px;
}

h2 {
  color: #66ccff;
}

div {
  background-color: #FFF9F9;
  padding: 10px;
}

.center{
  text-align: center;
  color: #3399ff
}